<nav
  class="flex lg:justify-around justify-between items-center bg-white px-6 pb-2 pt-4 md:pt-6 border-b sticky top-0 z-20"
>
  <a href="/">
    <div class="flex items-center cursor-pointer">
      <img src="/images/logo.png" />
      <h4 class="text-xl font-sans font-bold tracking-tight">Doggy Stickers</h4>
    </div>
  </a>
  <div>
    <a href="/cart" class="relative">
      <img class="cursor-pointer" src="/images/cart.png" />
      <span
        id="cart"
        class="absolute -top-3 -right-3 text-xs bg-yellow-300 text-gray-900 font-semibold rounded-full py-1 px-2"
      ></span>
    </a>
  </div>
</nav>

<script>
  const cart = JSON.parse(localStorage.getItem("cart") || "[]");

  const $cart = document.getElementById("cart");

  $cart.innerText = cart.length;
</script>
